# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.so

# Virtualenv
venv/
.venv/
activate_env.bat

# IDE
.vscode/
.idea/

# Build artifacts
liboqs/
liboqs-python/
liboqs/build/
liboqs/install/

# Windows
*.dll
*.lib
*.exp

# Zephyr / nRF Connect build outputs
firmware/build/
firmware/build*/

# Benchmark results (generati)
# benchmarks/results/*.json

# Keys (non committare chiavi reali!)
data/keys/*
!data/keys/README.md

# LaTeX aux files
report/*.aux
report/*.dvi
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.out.ps
report/*.synctex.gz
report/*.pdf
report/*.toc
liboqs/
liboqs-python/
